<div class="container-fluid" style="
height: 25vh;
background-color: rgb(238, 238, 238);">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 style="font-size: 5rem; padding-top: 30px;">
          {{ title }}
        </h1>
        <span class="lead">{{ subtitle }}</span>
      </div>
      <div class="col text-right">
        <button type="button" style="margin-top: 60px; margin-right: 20px; " class="btn btn-light" routerLink="/cart">
          <i class="fa fa-shopping-cart" aria-hidden="true"></i>
          view cart
        </button>
        <button type="button" style="margin-top: 60px; " class="btn btn-danger" (click)='onLogout()'>
          <i class="fa fa-sign-out" aria-hidden="true"></i>
          logout
        </button>
      </div>
    </div>
  </div>
</div>

<br />