<app-header title="Products" subtitle="" button=""></app-header>
<div class="container">
    <form *ngIf="!submitted">
        <h2>Add new product</h2>
        <div class="form-group row">
            <label for="inputProductName" class="col-sm-2 col-form-label">Product Name</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="name" required [(ngModel)]="product.name" name="name">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputPrice" class="col-sm-2 col-form-label">Unit Price</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputAmount" class="col-sm-2 col-form-label">Units In Stock</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="amount" required [(ngModel)]="product.amount" name="amount">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputDescription" class="col-sm-2 col-form-label">Description</label>
            <div class="col-sm-4">
                <textarea class="form-control" aria-label="With textarea" id="description" required
                    [(ngModel)]="product.description" name="description"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputManufacturer" class="col-sm-2 col-form-label">Manufacturer</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="manufacturer" required [(ngModel)]="product.manufacturer" name="manufacturer">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCategory" class="col-sm-2 col-form-label">Category</label>
            <div class="col-sm-4">
                <input type="text" class="form-control" id="category" required [(ngModel)]="product.category" name="category">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputCondition" class="col-sm-2 col-form-label">Condition</label>
            <div class="col-sm-4">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                        value="1" checked required [(ngModel)]="product.status" name="status">
                    <label class="form-check-label" for="inlineRadio1">New</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                        value="2" checked required [(ngModel)]="product.status" name="status">
                    <label class="form-check-label" for="inlineRadio2">Old</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                        value="3" checked required [(ngModel)]="product.status" name="status">
                    <label class="form-check-label" for="inlineRadio3">Refurbished</label>
                </div>
            </div>
        </div>
        
        <div class="form-group row">
            <label for="inputImage" class="col-sm-2 col-form-label">Product Image File</label>
            <div class="col-sm-4">
                <form>
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="exampleFormControlFile1" required [(ngModel)]="product.image" name="image">
                    </div>
                </form>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button (click)="createProduct()" class="btn btn-primary">Add Product</button>
            </div>
        </div>

        <div *ngIf="submitted">
            <h3>You successfully created a product!</h3>
            <button class="btn btn-success" (click)="newProduct()">New..</button>
          </div>
    </form>
</div>