<app-header title="Mobile Store" button="view-cart"></app-header>

<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form (ngSubmit)="login()" class="login100-form validate-form">
        <span class="login100-form-title"> Account Login </span>

        <div class="wrap-input100 validate-input mt-5">
          <input
            class="input100"
            type="text"
            (keyup)="keyUpUsername($event)"
            placeholder="Username"
          />
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1 validate-input">
          <input
            class="input100"
            type="password"
            (keyup)="keyUpPassword($event)"
            placeholder="Password"
          />
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="container-login100-form-btn mt-5">
          <button class="login100-form-btn">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
